<section class="fullwidth">

        <div class="col-sm-9">
      
 <header class="topheader" id="top">
<ul>
    <li><a (click)="scroll('top')">Kiru</a></li>
    <li><a (click)="scroll('education')">Education</a></li>
    <li><a (click)="scroll('works')">Work Experience</a></li>
    <li><a (click)="scroll('skill')"> Skills</a></li>
    <li><a>Services</a></li>
    <li><a>Portfolio</a></li>
    <li><a (click)="scroll('contact')">Contact</a></li>
</ul>
 </header>
 <section class="padtop">
 <div class="second-level-top">
<ul>
    <li>My name is Kiru</li>
    <li>I love Coding, Design and Development!</li>
</ul>
 </div>
 <section class="education-section" id="education">
<div class="section-icon">
    <span><i class="material-icons">account_balance</i></span> Education
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Certificate</th>
                <th>Degree</th>
                <th>Education Instituation</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="./assets/images/anna.png" class="img-responsive">
                </td>
                <td>B.E Computer Science and Engineering</td>
                <td>Annamalai University</td>
                <td>2005 - 2009</td>
            </tr>
            <tr>
                    <td>
                        <img src="./assets/images/tnh.png" class="img-responsive">
                    </td>
                    <td>Higher Secondary Course</td>
                    <td>State Board - Tamil Nadu</td>
                    <td>2003 - 2005</td>
                </tr>
                <tr>
                        <td>
                            <img src="./assets/images/tnh.png" class="img-responsive">
                        </td>
                        <td>Secondary School Leaving Certificate</td>
                        <td>State Board - Tamil Nadu</td>
                        <td>2002 - 2003</td>
                    </tr>
        </tbody>
    </table>
</div>
 </section>
 <section class="work-section" id="works">
        <div class="section-icon">
            <span><i class="material-icons">work</i></span> Work experience
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Company Name</th>
                        <th>Business Name / Department</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="./assets/images/gca.png" class="img-responsive">
                        </td>
                        <td>General Civil Aviation Authority</td>
                        <td>Software Engineer</td>
                        <td>June 2014 - Present</td>
                    </tr>
                    <tr>
                            <td>
                                <img src="./assets/images/clar.png" class="img-responsive">
                            </td>
                            <td>Clarion Technologies</td>
                            <td>Software Engineer (RIA)</td>
                            <td>July 2014 - June 2014</td>
                        </tr>
                        <tr>
                                <td>
                                    <img src="./assets/images/apt.png" class="img-responsive">
                                </td>
                                <td>Aptara New Media</td>
                                <td>Multimedia Programmer</td>
                                <td>Nov 2011 - June 2013</td>
                            </tr>
                            <tr>
                                    <td>
                                        <img src="./assets/images/chet.png" class="img-responsive">
                                    </td>
                                    <td>Chetu Inc</td>
                                    <td>Software Engineer (Flash)</td>
                                    <td>Jan 2011 - Oct 2011</td>
                                </tr>
                                <tr>
                                        <td>
                                            <img src="./assets/images/dar.png" class="img-responsive">
                                        </td>
                                        <td>Dart Innovations</td>
                                        <td>Flash Developer</td>
                                        <td>June 2009 - Jan 2011</td>
                                    </tr>
                </tbody>
            </table>
        </div>
         </section>
         <section class="skills-section row" id="skill">
                <div class="section-icon">
                        <span><i class="material-icons">assessment</i></span> Professional skills
                    </div>
                    <div class="col-sm-12 row sectiontopval">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="skill-item row">
                                    <img src="./assets/images/js.png" >
                                    <div class="progress-full">
                                            <p>JavaScript <span>70%</span></p>
                                    
                                    <div class="progress">
                                        
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                              <span class="sr-only">60% Complete</span>
                                            </div>
                                          </div></div>
                                </div>
                                <div class="skill-item row">
                                        <img src="./assets/images/css.png" >
                                        <div class="progress-full">
                                                <p>CSS3 <span>80%</span></p>
                                        
                                        <div class="progress">
                                            
                                                <div class="progress-bar clrone" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                  <span class="sr-only">60% Complete</span>
                                                </div>
                                              </div></div>
                                    </div>
                                    <div class="skill-item row">
                                            <img src="./assets/images/bootstrap.png" >
                                            <div class="progress-full">
                                                    <p>Bootstrap <span>75%</span></p>
                                            
                                            <div class="progress">
                                                
                                                    <div class="progress-bar clrtwo" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                      <span class="sr-only">60% Complete</span>
                                                    </div>
                                                  </div></div>
                                        </div>
                                        <div class="skill-item row">
                                                <img src="./assets/images/json.png" >
                                                <div class="progress-full">
                                                        <p>JSON, XML <span>75%</span></p>
                                                
                                                <div class="progress">
                                                    
                                                        <div class="progress-bar clrtwo" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                          <span class="sr-only">60% Complete</span>
                                                        </div>
                                                      </div></div>
                                            </div>
                                            <div class="skill-item row">
                                                    <img src="./assets/images/Skill_Logo_4.png" >
                                                    <div class="progress-full">
                                                            <p>Flash, AIR, ActionScript <span>75%</span></p>
                                                    
                                                    <div class="progress">
                                                        
                                                            <div class="progress-bar clrtwo" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                              <span class="sr-only">60% Complete</span>
                                                            </div>
                                                          </div></div>
                                                </div>
                                                <div class="skill-item row">
                                                        <img src="./assets/images/php.png" >
                                                        <div class="progress-full">
                                                                <p>PhP and MySQL <span>50%</span></p>
                                                        
                                                        <div class="progress">
                                                            
                                                                <div class="progress-bar " role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                                                  <span class="sr-only">60% Complete</span>
                                                                </div>
                                                              </div></div>
                                                    </div>
                                                    <div class="skill-item row">
                                                            <img src="./assets/images/elearn.png" >
                                                            <div class="progress-full">
                                                                    <p>SCORM, LMS, LCMS <span>65%</span></p>
                                                            
                                                            <div class="progress">
                                                                
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                                      <span class="sr-only">60% Complete</span>
                                                                    </div>
                                                                  </div></div>
                                                        </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="skill-item row">
                                        <img src="./assets/images/html.png" >
                                        <div class="progress-full">
                                                <p>HTML5 <span>80%</span></p>
                                        
                                        <div class="progress">
                                            
                                                <div class="progress-bar clrone" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                  <span class="sr-only">60% Complete</span>
                                                </div>
                                              </div></div>
                                    </div>
                                    <div class="skill-item row">
                                            <img src="./assets/images/ajs.png" >
                                            <div class="progress-full">
                                                    <p>AngularJS <span>70%</span></p>
                                            
                                            <div class="progress ">
                                                
                                                    <div class="progress-bar " role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                      <span class="sr-only">60% Complete</span>
                                                    </div>
                                                  </div></div>
                                        </div>
                                        <div class="skill-item row">
                                                <img src="./assets/images/jquery.png" >
                                                <div class="progress-full">
                                                        <p>jQuery <span>65%</span></p>
                                                
                                                <div class="progress">
                                                    
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                          <span class="sr-only">60% Complete</span>
                                                        </div>
                                                      </div></div>
                                            </div>
                                            <div class="skill-item row">
                                                    <img src="./assets/images/node.png" >
                                                    <div class="progress-full">
                                                            <p>NodeJS <span>45%</span></p>
                                                    
                                                    <div class="progress">
                                                        
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                                              <span class="sr-only">60% Complete</span>
                                                            </div>
                                                          </div></div>
                                                </div>
                                                <div class="skill-item row">
                                                        <img src="./assets/images/fx.png" >
                                                        <div class="progress-full">
                                                                <p>Flex, MXML <span>65%</span></p>
                                                        
                                                        <div class="progress">
                                                            
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                                  <span class="sr-only">60% Complete</span>
                                                                </div>
                                                              </div></div>
                                                    </div>
                                                    <div class="skill-item row">
                                                            <img src="./assets/images/asp.png" >
                                                            <div class="progress-full">
                                                                    <p>.Net <span>60%</span></p>
                                                            
                                                            <div class="progress">
                                                                
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                      <span class="sr-only">60% Complete</span>
                                                                    </div>
                                                                  </div></div>
                                                        </div>

                        </div>
                    </div>
         </section>
<section class="contactsection row" id="contact">
        <div class="section-icon">
                <span><i class="material-icons">mail_outline</i></span> Contact Me
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="contact-info">
                            <i class="material-icons">email</i>
                            srimalruban@gmail.com
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="contact-info">
                                <i class="material-icons">phone_iphone</i>
                                +971 55 11 45 983
                        </div>
                    </div>
                    <div class="col-sm-3">
                            <div class="contact-info">
                                    <i class="fa fa-skype"></i>
                                    Skype / srimalruban@gmail.com
                            </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="contact-info">
                                        <i class="material-icons">location_on</i>
                                        303, Muallim Hasan, Al Falah 
Abu Dhabi, UAE, 6558
                                </div>
                            </div>
            </div>
</section>
<section class="personalinfo row">
<div class="col-sm-12">
<div class="col-sm-6">
    <div class="info-txt">
        <p>I am working as a UI UX Developer and hold 7+ years of experience in varies platforms like gaming, web, website, AIR, mobile, desktop, and elearning/publications fields. </p>
        <p><b>Skills</b><br>
       HTML/HTML5, CSS/CSS3, JavaScript, AngularJS, NodeJS, Bootstrap, Flash (ActionScript 3.0/2.0), Flex, AIR, Flash Builder 4.x, MXML, XML, PHP and MySQL, Design and Development in various Front End Technologies,. </p>
       <p>
           <b>Field of Work:</b><br>
           Mobile Application, Website, Kiosk and Games development, Cross platform application, Publication and elearning. 
       </p>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-sec">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mobile Number">
                </div>
                <div class="form-group">
                        <textarea rows="4" cols="50" placeholder="Message" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
<button type="button" class="btn btnsubmit">Sumbit</button>
                    </div>
    </div>
</div>
</div>
</section>
</section>    
           
        </div>
        <div class="col-sm-3 right-side-fixed">
           
                <div class="left-sidebar row">
<ul>
    <li><a routerLink="" (click)="fblink()"><i class="fa fa-facebook"></i></a></li>
    <li><a><i class="fa fa-twitter"></i></a></li>
    <li><a><i class="fa fa-google-plus"></i></a></li>
    <li><a><i class="fa fa-linkedin"></i></a></li>
</ul>
<div class="clearfix"></div>
<div class="name">
    <p>Kirubakaran Srinivasan</p>
    <p>
            Professional UI/UX Design Developer</p>
</div>
                </div>
                <div class="profile-details">
                    <img src="./assets/images/Profile_Image.jpg" class="img-responsive">
                    <div class="work-status">
                        <p>Working Status</p>
                        <label class="switch">
                                <input type="checkbox" checked disabled>
                                <span class="slider round"></span>
                              </label>
                    </div>
                    <div class="work-status">
                        <p>Hello my name is Kiru @ Kirubakaran Srinivasan! </p>
                        <p>I'm a <span>Professional UI/UX Designer</span> & <span>Developer</span> from Dubai, United Arab Emirates. I am working with Front End Technologies such as HTML/HTML5, CSS/CSS3, JavaScript, AngularJS, NodeJS, Bootstrap Flash/Flex.</p>
                   <p>I hold 7+ years of design and development experience in varies platforms like Mobile, Web, Gaming, Website, Desktop, and eLearing & Publications.</p>
                    </div>
                    <div class="work-status">
                        <a href="./assets/images/resume.doc" download>Download CV <span><i class="fa fa-download" aria-hidden="true"></i></span></a>
                        <a href="mailto:srimalruban@gmail.com">Contact Me <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span></a>
                    </div>
                </div>
           
        </div>
    
</section>
